.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
.no-padding {
    &.col,
    &[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

// Columns
@include make-grid-columns();
